<a href="https://colab.research.google.com/github/Pavithra11-py/Python/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#  https://drive.google.com/drive/folders/1MiJh4OmHOstO1wf8_a8qf-rYMAtOR77Q  - link



```
link drive - https://colab.research.google.com/drive/16HiJF1wzdtWdyeNjvp60GvhzX7RCfMoW
```

In [ ]:
# pip install pandas

In [ ]:
import pandas as pd
print(pd.__version__)

In [ ]:
# Pandas -> hash table -> 3 data structures
# 1. Series -> 1d
# 2. DataFrame -> 2d
# 3. Panel -> 3d or Nd

In [ ]:
# case conventions
# 1. Pascal case -> Person, FirstName, FirstNameOfPerson -> class
# 2. Camel case  -> person, firstName, firstNameOfPerson -> not recommended
# 3. Snake case. -> person, first_name, first_name_of_person -> variable, function

# functions -> action verbs
# variables -> noun

In [ ]:
# Series -> 1d
nums = pd.Series([10, 20, 30, 40])
# print(nums, type(nums))

# print(nums[0], nums[1], nums[2], nums[3], nums[4])
# print(nums.get(0), nums.get(1), nums.get(4, 'NA'))

# print(nums[-1]) # Negative indexing is NOT supported by default -> use iloc

In [ ]:
nums = {
    0: 10,
    1: 20,
    2: 30,
    3: 40
}

# print(nums[0], nums[1], nums[4]) # KeyError
# print(nums.get(0), nums.get(4, -1))

In [ ]:
nums = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'c'])
# print(nums) # SELECT * FROM nums
# print(nums[0]) # SELECT * FROM nums WHERE id = 0
# print(nums['a']) # SELECT * FROM nums WHERE user_id = 'a'
# print(nums['a'], nums['b'], nums['c'], nums['d'])

print(nums['c']) # SELECT * FROM nums WHERE user_id = 'c'

c    30
c    40
dtype: int64

In [ ]:
# dict -> Series
data = {
    'cars': ['bmw', 'mercedez', 'tata'],
    'bikes': ['honda', 'tvs', 'harley']
}

data_series = pd.Series(data)
print(data_series)

cars     [bmw, mercedez, tata]
bikes     [honda, tvs, harley]
dtype: object

In [ ]:
# DataFrame -> 2d -> structured data
data = {
    'cars': ['bmw', 'mercedez', 'tata', 'mahindra'],
    'bikes': ['honda', 'tvs', 'harley', None] # null -> NaN -> Not a Number(float) -> numpy
}

df = pd.DataFrame(data)
df

       cars   bikes
0       bmw   honda
1  mercedez     tvs
2      tata  harley
3  mahindra    None

In [ ]:
# read the data
# csv
# cars = pd.read_csv('./mtcars.csv')
# cars

# excel
# cars = pd.read_excel('./somecars1.xlsx')
# cars

In [ ]:
cars = pd.read_csv('/content/sample_data/mtcars.csv') # motor trends -> 70s
# cars.shape
# cars

# columns
# cars.columns

# SELECT mpg FROM cars
# cars['mpg']

# SELECT hp FROM cars
# cars['hp']

# multiple cols
# SELECT mpg, hp, carb FROM cars
# cols = ['mpg', 'hp', 'carb']
# cars[cols]

# SELECT * FROM cars
# cars

In [ ]:
# rows
# cars.shape # 32 rows and 13 cols

# SELECT * FROM cars LIMIT 5
# cars.head() # head -> top to bottom -> 5 data by default
# cars.head(10)
# cars.head(-10) # from the beginning except last 10 data

# cars.tail() # bottom to top -> 5 data by default
# cars.tail(3)
# cars.tail(-3) # all the data except first 3 data

In [ ]:
# slicing -> locators
# index locators -> iloc[rows, cols] -> iloc[(start=0/-1: end+1/end-1: step=1), (start=0/-1: end+1/end-1: step=1)]
cars = pd.read_csv('/content/sample_data/mtcars.csv')

# cars.iloc[0] # 0th row
# cars.iloc[0, 3]

# single row and multiple cols # 1d
# cars.iloc[0, 1:4]
# cars.iloc[-3, 2:5]
# cars.iloc[-3, 2:8:2]
# cars.iloc[4, 8:2]
# cars.iloc[0, -5:-2]

# multiple rows and multiple cols # 2d
# cars.iloc[1:4]
# cars.iloc[1:4, 2:6]

# locators -> loc[rows_index, cols_index]
# cars.loc[0, 'mpg':'wt'] # last value gets included
# cars.loc[1:3, 'hp': 'gear']
# cars.loc[3:10:2, 'mpg':'gear':2]
# cars.loc[3:10:2, 'gear':'mpg':-1]

# SELECT mpg, cyl, gear, drat FROM cars LIMIT 5 OFFSET 5
cols = ['mpg', 'cyl', 'gear', 'drat']
# cars[cols].loc[5:9]
# cars.loc[5:9][cols]

In [ ]:
# aggregations
# SELECT MAX(hp) FROM cars
# cars['hp'].max()
# cars['hp'].min()
# cars['hp'].mean()
# cars['hp'].median()

# SELECT MAX(hp), MAX(mpg) FROM cars
# cols = ['hp', 'mpg']
# cars[cols].max()

# cars['hp'].info()
# cars.info()

# describe
# cars.describe()
# cols = ['cyl', 'disp']
# cars[cols].describe()

In [ ]:
# filtering the data
# get the car details where hp is maximum
# SELECT * FROM cars WHERE hp = (SELECT MAX(hp) FROM cars)

# (SELECT MAX(hp) FROM cars)
max_hp = cars['hp'].max()

# WHERE hp = (SELECT MAX(hp) FROM cars)
condition = (cars['hp'] == max_hp)

# SELECT * FROM cars WHERE hp = (SELECT MAX(hp) FROM cars)
cars[condition]

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
30,31,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.57,14.6,0.0,1.0,5,8

In [ ]:
# SELECT * FROM cars WHERE hp > 200
# cars[cars['hp'] > 200]

# SELECT mpg, hp FROM cars WHERE hp > 200
# cols = ['mpg', 'hp']
# cars[cols][cars['hp'] > 200]

In [ ]:
nums = [1, 2, 3, 4, 5]
# [1, 4, 9, 16, 25]

# NOT AN INPLACE OPS
# sq_nums = []
# for num in nums:
#     sq_nums.append(num ** 2)
# print(sq_nums, nums)

# sq_nums = [num**2 for num in nums]
# print(sq_nums)

# INPLACE OPs -> same memory space
# for i in range(len(nums)):
#     nums[i] = nums[i] ** 2
# print(nums)

In [ ]:
# sort the data -> new memory space
cars = pd.read_csv('/content/sample_data/mtcars.csv')

# SELECT * FROM cars ORDER BY gear ASC
# sorted_cars = cars.sort_values(by='gear')

# cars = cars.sort_values(by='gear') # not recommended
# cars.sort_values(by='gear', inplace=True, ascending=True) # recommended and ascending = True by default

# ignore_index
# cars.sort_values(by='gear', inplace=True, ascending=True, ignore_index=True)
# cars

# SELECT * FROM cars ORDER BY gear DESC
# cars.sort_values(by='gear', inplace=True, ascending=False, ignore_index=True)
# cars

# SELECT * FROM cars ORDER BY gear ASC, hp ASC
# cars.sort_values(by=['gear', 'hp'], inplace=True, ascending=True, ignore_index=True)

# SELECT * FROM cars ORDER BY gear DESC, hp DESC
# cars.sort_values(by=['gear', 'hp'], inplace=True, ascending=False, ignore_index=True)

# SELECT * FROM cars ORDER BY gear DESC, hp ASC
# cars.sort_values(by=['gear', 'hp'], inplace=True, ascending=[False, True], ignore_index=True)
# cars

In [ ]:
# rename the cols
cars = pd.read_csv('/content/sample_data/mtcars.csv')

# multiple cols -> list
# col specific -> dict

cars.rename(columns={
    'Unnamed: 1': 'model',
    'mpg': 'mileage'
}, inplace=True)

# create col dynamically
# SELECT name, price, discount, (price - price * discount) AS discount_price FROM products
# SELECT hp, gear, (hp * gear) AS power FROM cars
cars['power'] = cars['hp'] * cars['gear']
cars['year'] = 1970
# cars

# save the file
# cars.to_csv('./new_cars.csv', index=False)
# cars.to_excel('./new_cars.xlsx', index=False)

In [ ]:
# cars = pd.read_csv('./mtcars.csv')
# cars

In [ ]:
## Visualization part 2 video discussed from this

# data cleaning or data wrangling -> new df

In [ ]:
cars = pd.read_csv('/content/sample_data/mtcars.csv')

# drop the cols
# ALTER cars DROP carb
cars.drop(columns=['carb'], inplace=True)
# to drop multiple columns --->  cars.drop(columns=['carb','gear'], inplace=True)
 # inplace will run on same memory data
 # if we don't use that inplace parameter it will run in New memory
cars

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear
0,1,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4
1,2,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4
2,3,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4
3,4,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3
4,5,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3
5,6,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,NaN,1.0,0.0,3
6,7,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3
7,8,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4
8,9,Merc 230,22.8,4.0,140.8,NaN,3.92,3.150,22.90,1.0,0.0,4
9,10,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4
10,11,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4
11,12,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3
12,13,Merc 450SL,17.3,8.0,NaN,180.0,3.07,3.730,17.60,0.0,0.0,3
13,14,Merc 450SLC,15.2,8.0,NaN,180.0,3.07,3.780,18.00,0.0,0.0,3
14,15,Cadillac Fleetwood,10.4,8.0,NaN,NaN,2.93,5.250,17.98,0.0,0.0,3
15,16,Lincoln Continental,10.4,8.0,460.0,215.0,3.00,5.424,17.82,0.0,0.0,3
16,17,Chrysler Imperial,14.7,8.0,440.0,230.0,3.23,5.345,17.42,0.0,0.0,3
17,18,Fiat 128,32.4,4.0,78.7,66.0,4.08,2.200,NaN,1.0,1.0,4
18,19,NaN,30.4,4.0,75.7,52.0,4.93,1.615,18.52,1.0,1.0,4
19,20,NaN,33.9,4.0,71.1,65.0,4.22,1.835,19.90,1.0,1.0,4
20,21,NaN,21.5,4.0,120.1,97.0,3.70,2.465,20.01,1.0,0.0,3
21,22,NaN,15.5,8.0,318.0,150.0,2.76,3.520,16.87,0.0,0.0,3
22,23,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,3
23,24,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,3
24,25,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3
25,26,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,NaN,1.0,1.0,4
26,27,Porsche 914-2,26.0,4.0,120.3,91.0,4.43,2.140,16.70,0.0,1.0,5
27,28,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5
28,29,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5
29,30,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5
30,31,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5
31,32,Volvo,NaN,NaN,4.0,2.0,NaN,NaN,NaN,NaN,NaN,2

In [ ]:
#update the data
cars = pd.read_csv('/content/sample_data/mtcars.csv')
cars

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4,4
1,2,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4,4
2,3,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4,1
3,4,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3,1
4,5,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3,2
5,6,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,NaN,1.0,0.0,3,1
6,7,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3,4
7,8,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4,2
8,9,Merc 230,22.8,4.0,140.8,NaN,3.92,3.150,22.90,1.0,0.0,4,2
9,10,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4,4
10,11,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4,4
11,12,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3,3
12,13,Merc 450SL,17.3,8.0,NaN,180.0,3.07,3.730,17.60,0.0,0.0,3,3
13,14,Merc 450SLC,15.2,8.0,NaN,180.0,3.07,3.780,18.00,0.0,0.0,3,3
14,15,Cadillac Fleetwood,10.4,8.0,NaN,NaN,2.93,5.250,17.98,0.0,0.0,3,4
15,16,Lincoln Continental,10.4,8.0,460.0,215.0,3.00,5.424,17.82,0.0,0.0,3,4
16,17,Chrysler Imperial,14.7,8.0,440.0,230.0,3.23,5.345,17.42,0.0,0.0,3,4
17,18,Fiat 128,32.4,4.0,78.7,66.0,4.08,2.200,NaN,1.0,1.0,4,1
18,19,NaN,30.4,4.0,75.7,52.0,4.93,1.615,18.52,1.0,1.0,4,2
19,20,NaN,33.9,4.0,71.1,65.0,4.22,1.835,19.90,1.0,1.0,4,1
20,21,NaN,21.5,4.0,120.1,97.0,3.70,2.465,20.01,1.0,0.0,3,1
21,22,NaN,15.5,8.0,318.0,150.0,2.76,3.520,16.87,0.0,0.0,3,2
22,23,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,3,2
23,24,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,3,4
24,25,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3,2
25,26,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,NaN,1.0,1.0,4,1
26,27,Porsche 914-2,26.0,4.0,120.3,91.0,4.43,2.140,16.70,0.0,1.0,5,2
27,28,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5,2
28,29,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5,4
29,30,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5,6
30,31,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5,8
31,32,Volvo,NaN,NaN,4.0,2.0,NaN,NaN,NaN,NaN,NaN,2,1

In [ ]:
## we have NaN values which are null values
#we can fill null values
# fillna() - fill NaN (Not a number)values by given data
cars.fillna(100, inplace = True)
cars

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4,4
1,2,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4,4
2,3,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4,1
3,4,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3,1
4,5,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3,2
5,6,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,100.00,1.0,0.0,3,1
6,7,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3,4
7,8,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4,2
8,9,Merc 230,22.8,4.0,140.8,100.0,3.92,3.150,22.90,1.0,0.0,4,2
9,10,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4,4
10,11,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4,4
11,12,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3,3
12,13,Merc 450SL,17.3,8.0,100.0,180.0,3.07,3.730,17.60,0.0,0.0,3,3
13,14,Merc 450SLC,15.2,8.0,100.0,180.0,3.07,3.780,18.00,0.0,0.0,3,3
14,15,Cadillac Fleetwood,10.4,8.0,100.0,100.0,2.93,5.250,17.98,0.0,0.0,3,4
15,16,Lincoln Continental,10.4,8.0,460.0,215.0,3.00,5.424,17.82,0.0,0.0,3,4
16,17,Chrysler Imperial,14.7,8.0,440.0,230.0,3.23,5.345,17.42,0.0,0.0,3,4
17,18,Fiat 128,32.4,4.0,78.7,66.0,4.08,2.200,100.00,1.0,1.0,4,1
18,19,100,30.4,4.0,75.7,52.0,4.93,1.615,18.52,1.0,1.0,4,2
19,20,100,33.9,4.0,71.1,65.0,4.22,1.835,19.90,1.0,1.0,4,1
20,21,100,21.5,4.0,120.1,97.0,3.70,2.465,20.01,1.0,0.0,3,1
21,22,100,15.5,8.0,318.0,150.0,2.76,3.520,16.87,0.0,0.0,3,2
22,23,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,3,2
23,24,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,3,4
24,25,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3,2
25,26,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,100.00,1.0,1.0,4,1
26,27,Porsche 914-2,26.0,4.0,120.3,91.0,4.43,2.140,16.70,0.0,1.0,5,2
27,28,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5,2
28,29,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5,4
29,30,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5,6
30,31,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5,8
31,32,Volvo,100.0,100.0,4.0,2.0,100.00,100.000,100.00,100.0,100.0,2,1

In [ ]:
#for multiple columns----------
# cars.fillna({
#     'Unnamed: 1': 'Unknown car',
#     'disp': round(cars['disp'].mean(), 1),
#     'hp': cars['hp'].median()
# }, inplace=True)

# cars

In [ ]:
cars = pd.read_csv('./mtcars.csv')
# interpolation -> no of steps = 1 + no of unknowns
# cars = cars.loc[:, 'mpg':]
# cars.interpolate(inplace=True)
# cars

# forward fill
# cars.ffill(inplace=True, limit=2)

# backward fill
# cars.bfill(inplace=True, limit=2)
# cars

FileNotFoundError: [Errno 2] No such file or directory: './mtcars.csv'

In [ ]:
cars = pd.read_csv('./mtcars.csv')

# dropna
cars.dropna(inplace=True, ignore_index=True)

# threshold
# cars.shape

FileNotFoundError: [Errno 2] No such file or directory: './mtcars.csv'